
/* Algunos estilos para evitar crear tantos styled-components */
.image-logo-header{
	transition: all .4s;

	&:hover{
		filter: invert(40%) sepia(42%) saturate(680%) hue-rotate(335deg) brightness(97%) contrast(89%);
		transition: all .4s;
	}

}

/* Estilos condicionados */
.container-hamburguer{
	@media (width >= 1024px){
		display: none !important;
	}
}

/* Categorías compartidas */
.categories-shared{
	padding: 8rem 2.4rem;
	padding-bottom: 5rem;

	@media (width >=600px){
		padding: 13rem 3.2rem;
		padding-bottom: 6rem;
	}

	@media (width >= 1024px){
		padding: 13rem 8rem;
		padding-bottom: 6rem;
	}
}

.container-category-shared{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	transform: translateY(-5rem);
}

.container-first-product{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media (width >= 1024px){
		align-items: flex-start;
		justify-content: flex-start;
	}

}