
/* Algunos estilos para evitar crear tantos styled-components */

/* Estilos condicionados */
.container-hamburguer{
	@media (width >= 1024px){
		display: none !important;
	}
}

a{
	color: white;
	font-size: 1.3rem;
	font-weight: bolder;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .4s;

	&:hover{
		color: #D87D4A;
		font-size: 1.6rem;
		transition: all .4s;
	}

	&:hover::before{
		/* text-decoration: underline; */
		width: 100%;
		left: 0;
		opacity: 1;
		transition: all .4s;
	}

	&::before{
		background-color: #D87D4A;
		bottom: -.6rem;
		content: '';
		position: absolute;
		width: 5%;
		left: -1.4rem;
		height: .18rem;
		opacity: 0;
		transition: all .4s;
	}

}

/* Categorías compartidas */
.categories-shared{
	padding: 2.4rem;

	@media (width >=600px){
		padding: 3.2rem;
	}

	@media (width >= 1024px){
		padding: 12rem;
	}
}

.container-category-shared{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	transform: translateY(-5rem);
}