
/* Algunos estilos para evitar crear tantos styled-components */

/* Estilos condicionados */
.container-hamburguer{
	@media (width >= 1024px){
		display: none !important;
	}
}

/* Categorías compartidas */
.categories-shared{
	padding: 8rem 2.4rem;

	@media (width >=600px){
		padding: 12rem 3.2rem;
		padding-bottom: 8rem;
	}

	@media (width >= 1024px){
		padding: 11rem 8rem;
	}
}

.container-category-shared{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	transform: translateY(-5rem);
}

.container-first-product{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media (width >= 1024px){
		align-items: flex-start;
		justify-content: flex-start;
	}

}